@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Cyberpunk Clip Paths */
  .clip-hud {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 95% 100%, 0 100%);
  }
  
  /* Glassmorphism Utility */
  .glass {
    @apply bg-zinc-900/70 backdrop-blur-md border border-white/5;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #09090b; 
}
::-webkit-scrollbar-thumb {
  background: #3f3f46; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c026d3; /* Brand Fuchsia */
}
